source/visual_studio_2022/.vs/
source/visual_studio_2022/packages/
source/visual_studio_2022/Win32/
source/visual_studio_2022/x64/
source/visual_studio_2022/pikifen.vcxproj.user
source/gnu_make/pikifen
*__pycache__*
*.vscode*
allegro.log
*.lnk
*.o
*.d
*.aps
game_data/base/areas/*/*test*
user_data/*
/pikifen
/pikifen_shortcut
/pikifen*.exe
.DS_Store
