body {
  background-color: #f0f8f0;
  font-family: 'DejaVu Sans', 'Arial', sans-serif;
  font-size: 13pt;
  line-height: 1.5;
  margin: 0px;
}

h1, h2, h3, h4 {
  text-decoration: underline;
  padding-top: 30px;
  clear: right;
}

h1 {
  text-align: center;
}

code, pre {
  background-color: #d0d0d0;
  font-family: monospace;
  padding-left: 2px;
  padding-right: 2px;
}

pre {
  padding: 4px;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
}

td, th {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 6px;
}

th {
  background-color: rgba(0, 0, 0, 0.1);
}

#header {
  background: #f0f8f0;
  border: none;
  border-bottom: 2px solid #787;
  overflow: hidden;
  padding: 8px;
  position: fixed;
  top: 0px;
  width: 100%;
}

#content {
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 30px;
  margin-bottom: 30px;
}

#toc {
  background-color: rgba(0, 0, 0, 0.1);
  border: 2px solid black;
  font-size: 80%;
  padding: 8px;
  width: 500px;
}

#toc, ul {
  margin: 0px;
}

.box {
  border: 1px solid black;
  display: inline-block;
  font-size: 70%;
  margin-bottom: 12px;
  margin-left: 12px;
  padding: 5px;
  width: 300px;
}

.box-right {
  clear: right;
  float: right;
}

.box img {
  width: 290px;
}

.box p {
  margin: 0px;
}

.code-faded {
  color: #909090;
}

/* Changelog. */
.cl-a, .cl-c, .cl-r, .cl-f {
  font-weight: bold;
}

.cl-a {
  color: #060;
}

.cl-c {
  color: #660;
}

.cl-r {
  color: #600;
}

.cl-f {
  color: #36C;
}
