body {
  background-color: #f0f8f0;
  font-family: 'DejaVu Sans', 'Arial', sans-serif;
  font-size: 13pt;
  line-height: 1.5;
  margin: 0px;
}

h1,
h2,
h3,
h4 {
  font-family: 'Garamond';
  clear: right;
  padding-top: 30px;
  text-decoration: underline;
}

h1 {
  font-size: 30pt;
  text-align: center;
}

h2 {
  font-size: 25pt;
}

h3 {
  font-size: 20pt;
}

h4 {
  font-size: 15pt;
}

code,
pre {
  background-color: #d0d0d0;
  font-family: monospace;
  overflow-x: scroll;
  padding-left: 2px;
  padding-right: 2px;
}

pre {
  padding: 4px;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 6px;
}

th {
  background-color: rgba(0, 0, 0, 0.1);
}

figure {
  border: 1px solid black;
  display: inline-block;
  font-size: 70%;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 12px;
  padding: 5px;
  width: 300px;
}

figure img {
  width: 300px;
}

#header {
  background: #f0f8f0;
  border: none;
  border-bottom: 2px solid #787;
  overflow: hidden;
  padding: 8px;
  position: fixed;
  top: 0px;
  width: 100%;
}

#page-content {
  margin-bottom: 30px;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 30px;
}

#toc {
  background-color: rgba(0, 0, 0, 0.1);
  border: 2px solid black;
  font-size: 80%;
  padding: 8px;
  width: 500px;
}

#toc,
ul {
  margin: 0px;
}

.fig-right {
  clear: right;
  float: right;
}

.code-faded {
  color: #909090;
}

.example {
  color: #808080;
}

.highlight-target *:target {
  border: solid green;
}

.indent {
  margin-left: 40px;
}

.snug-ol ol {
  margin-bottom: 0px;
  margin-top: 0px;
  padding-left: 20px;
}

table.props-t {
  width: 100%;
}

tr.props-h {
  font-size: 70%;
}

table.props-t-m tr.props-h th:nth-child(3) {
  /* Type. */
  font-size: 90%;
  width: 55px;
}

table.props-t-o tr.props-h th:nth-child(3) {
  /* Type. */
  border-right: none;
  font-size: 90%;
  width: 55px;
}

table.props-t-o tr.props-h th:nth-child(4) {
  /* Default. */
  border-left: none;
  font-size: 90%;
  width: 80px;
}

tr.props td:first-child {
  font-size: 110%;
  font-weight: bold;
}

table.props-t-m tr.props td:nth-child(3) {
  /* Type. */
  font-size: 75%;
  font-style: italic;
  text-align: center;
}

table.props-t-o tr.props td:nth-child(3) {
  /* Type. */
  border-right: none;
  font-size: 75%;
  font-style: italic;
  text-align: center;
}

table.props-t-o tr.props td:nth-child(4) {
  /* Default. */
  border-left: none;
  font-size: 75%;
  text-align: center;
}

/* Changelog. */
.cl-a,
.cl-c,
.cl-r,
.cl-f {
  font-weight: bold;
}

.cl-a {
  color: #060;
}

.cl-c {
  color: #660;
}

.cl-r {
  color: #600;
}

.cl-f {
  color: #36C;
}
