body {
  background-color: #f0f8f0;
  font-family: 'DejaVu Sans', 'Arial', sans-serif;
  font-size: 13pt;
  line-height: 1.5;
  margin: 0px;
}

h1, h2, h3, h4 {
    text-decoration: underline;
    padding-top: 30px;
    clear: right;
}

h1 {
  text-align: center;
}

code, pre {
  background-color: #d0d0d0;
  font-family: monospace;
  padding-left: 2px;
  padding-right: 2px;
}

pre {
  padding: 4px;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
}

td, th {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 6px;
}

th {
  background-color: rgba(0, 0, 0, 0.1);
}

#header {
  background: #f0f8f0;
  border: none;
  border-bottom: 2px solid #787;
  overflow: hidden;
  padding: 8px;
  position: fixed;
  top: 0px;
  width: 100%;
}

#content {
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 30px;
  margin-bottom: 30px;
}

#toc {
  background-color: rgba(0, 0, 0, 0.1);
  border: 2px solid black;
  font-size: 80%;
  padding: 8px;
  width: 500px;
}

#toc, ul {
  margin: 0px;
}

.box {
  border: 1px solid black;
  display: inline-block;
  font-size: 70%;
  margin-bottom: 12px;
  margin-left: 12px;
  padding: 5px;
  width: 300px;
}

.box-right {
  clear: right;
  float: right;
}

.box img {
  width: 290px;
}

.box p {
    margin: 0px;
}

.code-faded {
    color: #909090;
}

/* Changelog. */
.cl-a, .cl-c, .cl-r {
  border: 1px solid;
  border-radius: 8px;
  display: inline-block;
  padding-left: 2px;
  padding-right: 2px;
  text-align: center;
  width: 82px;
}

.cl-a {
  background-color: #d7e6d7;
  border-color: #a4c4a4;
  color: #020;
}

.cl-c {
  background-color: #f2f1de;
  border-color: #cacaab;
  color: #220;
}

.cl-r {
  background-color: #eee1e1;
  border-color: #d5baba;
  color: #200;
}
